[submodule "libshijima"]
	path = libshijima
	url = https://github.com/pixelomer/libshijima.git
[submodule "libshimejifinder"]
	path = libshimejifinder
	url = https://github.com/pixelomer/libshimejifinder.git
[submodule "cpp-httplib"]
	path = cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
