id ICON "shijima-qt.ico"
1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "guyi"
      VALUE "FileDescription", "guyi-bot"
      VALUE "FileVersion", "0.1.0"
      VALUE "InternalName", "guyi-bot"
      VALUE "LegalCopyright", "Copyright (c) 2026 guyi (Based on Shijima-Qt by pixelomer)"
      VALUE "OriginalFilename", "guyi-bot.exe"
      VALUE "ProductName", "guyi-bot"
      VALUE "ProductVersion", "0.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
